
* {
}

html {
	overflow: hidden;
}
body {
	padding:  0;
	margin: 0;
	font-family: arial,verdana,microsoft yahei;
	color: #777;
	background: #eee;
}

#main {
	width: 1000px;
	margin: 0 auto;
}
#main:after {
	content: ' ';
	display: block;
	height: 0;
	clear: both;
}

.stage {
	/*width: 300px;
	height: 500px;*/
	margin: 10px 10px;
	border: 2px solid #444;
	position: relative;
	float: left;
	background: #a1ad87;
}

.stage.gameover:after {
	content: '游戏结束!';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	line-height: 40px;
	margin-top: -20px;
	font-size: 20px;
	color: #444;
	text-align: center;
	z-index: 1;
}

.stage div, #next div {
	width: 20px;
	height: 20px;
	float: left;
	position: relative;
	/*border: 1px solid #fff;*/
	box-sizing: border-box;
}

.stage div:before {
	content: ' ';
	position: absolute;
	border: 2px solid #99a581;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
}

.stage div:after {
	content: ' ';
	position: absolute;
	background: #99a581;
	left: 4px;
	top: 4px;
	right: 4px;
	bottom: 4px;
}

.stage div.on:before {
	/*background-color: #6cf;*/
	border: 2px solid #444;
}

.stage div.on:after{
	/*background-color: #6cf;*/
	background: #444;
}

.stage.pause div.on {
	/*background-color: #e0e0e0;*/
}

#next {
	width: 80px;
	height: 80px;
	float: left;
	margin: 200px 20px;
	position: relative;
	/*border: 1px dashed #aaa;*/
}

#next div.on:before {
	content: ' ';
	position: absolute;
	border: 2px solid #666;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
}
#next div.on:after {
	content: ' ';
	position: absolute;
	background: #666;
	left: 4px;
	top: 4px;
	right: 4px;
	bottom: 4px;
}

#manual {
	width: 120px;
	float: left;
	margin-top: 100px;
	border: 2px solid #666;
	color: #666;
	font-family: arial, verdana, microsoft yahei;
	text-align: center;
	font-size: 12px;
}

#score-box {
	line-height: 2;
	margin: 10px;
	background: #666;
	color: #fff;
	font-size: 12px;
	border-radius: 2px;
	height: 30px;
	line-height: 30px;
}

#score-box span {
	color: #eee;
}


.btn {
	padding: 5px;
	color: #777 !important;
	position: relative;
	text-decoration: none;
	transition: all .2s ease;
	border-radius: 5px;
	background: #999;
	color: #fff !important;
	line-height: 30px;
	font-size: 12px;
}

.btn:hover {
	background: #777;
}



a {
	color: #666;
	font-size: 13px;
}










