
* {
}

html {
	overflow: hidden;
}
body {
	padding:  0;
	margin: 0;
	font-family: arial,verdana,microsoft yahei;
	color: #777;
}

#main {
	width: 1000px;
	margin: 0 auto;
}

#stage, #stage2 {
	/*width: 300px;
	height: 500px;*/
	margin: 10px 10px;
	border: 4px solid #aaa;
	position: relative;
	float: left;
}

#stage div, #stage2 div, #next div {
	width: 20px;
	height: 20px;
	float: left;
	border: 1px solid #fff;
	box-sizing: border-box;
}
#stage div.on, #stage2 div.on {
	background-color: #6cf;
}

#stage.pause div.on, #stage2.pause div.on {
	background-color: #e0e0e0;
}

#next {
	width: 80px;
	height: 80px;
	float: left;
	margin: 200px 20px;
	/*border: 1px dashed #aaa;*/
}

#manual {
	width: 150px;
	/*height: 300px;*/
	float: left;
	/*margin-left: -500px;*/
	margin-top: 100px;
	border: 1px dashed #f70;
	border-radius: 10px;
	color: #666;
	font-family: arial, verdana, microsoft yahei;
	text-align: center;
}

#score-box {
	/*width: 100%;*/
	line-height: 2;
	margin: 10px;
	background: #6cf;
	color: #fff;
	font-size: 12px;
	border-radius: 10px;
	height: 30px;
	line-height: 30px;
}

#score-box span {
	color: #268;
}

a {
	color: #777;
	font-size: 14px;
	line-height: 2;
	line-height: 1.8;
	margin: 10px;
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
}


.ball {
	color: #777 !important;
	position: relative;
	transition: all .2s ease;
}

.ball:after {
	content: ' ';
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	background: #f70;
	position: absolute;
	border-radius: 1000px;
	transition: all .2s ease;
	z-index: -20;
	opacity: 0;
}
.ball:hover {
	color: #fff !important;
	text-decoration: none;
}
.ball:hover:after {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 1;
}














